---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle="Entradas del blog"
---

<BaseLayout pageTitle={pageTitle}>
	<p>Acá va un listado de todas las entradas en mi blog.</p>
    <ul>
      <li><a href="/posts/post20250701/">1er posteo</a></li>
        <li><a href="/posts/post20250702/">Posteo nro 2</a></li>
      <li><a href="/posts/post20250705/">Posteo nro 3</a></li>
    </ul>
 </BaseLayout>
  </body>
</html>