---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Amneweb</title>
  </head>
  <body>
    <h1>Bienvenidos a mi blog</h1>
	<p>¿De qué vamos a hablar? De programación y de navegación a vela. Ya sé, no tienen nada que ver, pero eso es lo divertido.</p>
  </body>
</html>
